@import url(http://fonts.googleapis.com/css?family=Abel);

html{
	min-width: 1366px;
	min-height: 650px;
}

body{
    color:#FFFFFF;
    font-family:  'Abel',Arial, Helvetica, sans-serif;
    background: url(/static/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 650px;
    margin: 0;
}

#bg { position: fixed; top: 0; left: 0; width:100%; height:100%;}


.imgh{
	margin: 0;low;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}

.divLema{
	position: absolute;
	top: 32%;
	left: 0.5%;
	width: 15%;
}

.logo{
	margin: 0;low;
	position: absolute;
	top: 3%;
	left: 0.75%;
	width: 14%;
	height: 25%;
	min-width: 160px;
	min-height: 180px;
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.lema{
	font-family: Papyrus, fantasy;
	font-size: 1.3rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20.8999996185303px;
	 text-align: center;
	 text-shadow:
   -1.5px -1.5px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     color: #F5F6CE;
}

.items{
	margin: 0;low;
    position: absolute;
    top: 36%;
    left: 90%;
    width: 8%;
    height: 16%;
    min-width: 16px;
    min-height: 18px;
}

#item-familia{
    background:transparent url(/static/images/items/item3.png) no-repeat top left;
    background-size: 100% 100%;
}

#item-familia:hover{
    background:transparent url(/static/images/items/item3hover.png) no-repeat top left;
    background-size: 100% 100%;
}


#itemSuscribirse{
    margin: 0;low;
    position: absolute;
    top: 3%;
    left: 0.75%;
    width: 14%;
    height: 25%;
    min-width: 160px;
    min-height: 180px;
    background:transparent url('twitterbird.png') center top no-repeat;
}
