{% extends 'main/base.htm' %}

{% load staticfiles %}

{% block title %}Inicio{% endblock %}

{% block extrajs  %}
  <script>
    $(window).resize(function(){
       var height = $((window).width() * 650)/1366;
       $window.height(height);
    });
  </script>
{% endblock %}

{% block body_block %}
  	<img class="logo" src="{% static "images/logo512.png" %}"></img>
  	
  	<div class="divLema">
  		<h1 class="lema">"Nada es perfecto, todo es perfectible."</h1>
  	</div>

    <a href="/familia/login/">
      <image class="items" id="item-familia"></image></image>
    </a>
  	
  	<img class="">
{% endblock %}