{% extends 'main/base.htm' %}

{% load staticfiles %}

{% block title %}Inicio{% endblock %}

{% block extrajs  %}
  <script>
    $(window).resize(function(){
       var height = $((window).width() * 650)/1366;
       $window.height(height);
    });

    $(document).ready(function(){
    $('#item-suscribirse').click(function(){
        $('#main-content').load('main/rest/suscribirse/?format=json');
    });
    $('#item-contacto').click(function(){
        $('#main-content').load('main/rest/contacto/?format=json');

    });
    $('#item-familia').click(function(){
        $('#main-content').load('main/rest/familia/?format=json');
    });
  });


  </script>
{% endblock %}

{% block body_block %}
  	<img class="logo" src="{% static "images/logo512.png" %}"></img>
  	
  	<div class="divLema">
  		<h1 class="lema">"Nada es perfecto, todo es perfectible."</h1>
  	</div>

    <div id="main-content">

    </div>

    <a>
      <image class="items" id="item-suscribirse"></image></image>
    </a>

    <a>
      <image class="items" id="item-contacto"></image></image>
    </a>

    <a>
      <image class="items" id="item-familia"></image></image>
    </a>
  	
{% endblock %}